@import "admin-lte/dist/css/adminlte.css";

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_W_Th.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_W_He.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_W_XBd.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* ใช้ฟอนต์นี้ทั่วระบบ */
html, body {
  font-family: 'LINESeedSansTH', sans-serif;
}
